$blend-col-1: #fa9b72;
$blend-col-2: #3a3a3a;

.blend {
  font-size: 20px;
  font-weight: 700;

  position: relative;
  background-color: $blend-col-1;
  color: $blend-col-2;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 0;
    background-color: $blend-col-2;
    transition: width 3s;
  }

  .clip {
    width: 100%;
    background-clip: text;
    background-image:
            linear-gradient($blend-col-2, $blend-col-2),
            linear-gradient($blend-col-1, $blend-col-1);
    background-repeat: no-repeat;
    background-position: 100%, 0;
    background-size: 100% 100%, 0 100%;
    transition: background-size 3s;
    z-index: 1;
  }

  &-title, &-desc, &-time {
    color: transparent;
  }

  // animation trigger
  &:hover {
    &:before {
      width: 100%;
    }
    .clip {
      background-size: 0 100%, 100% 100%;
    }
  }
}